{% load thumbnail %}
{{ event.title }}<br>
{% thumbnail event.image "733x579" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
{% if is_registered %}
    {% if event.id in is_registered %}
        شما قبلا تو این دوره ثبت نام کرده اید
    {% else %}
        {% if event.status == True %}
            {% if event.capacity >= 1 %}
                <a href="{% url 'events:register' event.id %}">ثبت نام</a>
            {% else %}
                ظرفیت این دوره به پایان رسیده
            {% endif %}
        {% else %}
            ثبت نام این دوره غیرفعال است
        {% endif %}
    {% endif %}
{% else %}
    {% if event.status == True %}
        {% if event.capacity >= 1 %}
            <a href="{% url 'events:register' event.id %}">ثبت نام</a>
        {% else %}
            ظرفیت این دوره به پایان رسیده
        {% endif %}
    {% else %}
        ثبت نام این دوره غیرفعال است
    {% endif %}
{% endif %}
