<!DOCTYPE html>
<html lang="fa" dir="rtl">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./../static/style/font.css" />
        <link rel="stylesheet" href="./../static/style/tailwind.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
            integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
        <title>رویدادنگار</title>
    </head>
    <body class="azar relative">
        <!--start header-->
        <header class="py-4 px-4 md:px-16 flex justify-between border-b border-gray-300">
            <ul class="flex gap-x-6 items-center">
                <a href="">
                    <li class="block cursor-pointer hover:text-gray-600 transition-all duration-300 text-[0.8rem] md:text-[0.9rem] text-gray-400">رویدادها</li>
                </a>
                <a href="">
                    <li class="block cursor-pointer hover:text-gray-600 transition-all duration-300 text-[0.8rem] md:text-[0.9rem] text-gray-400">پشتیبانی</li>
                </a>
                <a href="">
                    <li class="block cursor-pointer hover:text-gray-600 transition-all duration-300 text-[0.8rem] md:text-[0.9rem] text-gray-400">درباره ما</li>
                </a>
            </ul>
            <div class="flex gap-x-2 items-center">
                <a href="">
                    <span class="block cursor-pointer hover:text-gray-600 transition-all duration-300 text-[0.8rem] md:text-[0.9rem] text-gray-400">ورود</span>
                </a>
                <span class="block cursor-pointer hover:text-gray-600 transition-all duration-300 text-[0.8rem] md:text-[0.9rem] text-gray-400">-</span>
                <a href="">
                    <span class="block cursor-pointer hover:text-gray-600 transition-all duration-300 text-[0.8rem] md:text-[0.9rem] text-gray-400">عضویت</span>
                </a>
            </div>
        </header>
        <!--end header-->
        <!--start logo section-->
        <section class="py-4 px-4 md:px-16 flex items-center justify-between">
            <a href="">
                <img src="./../static/style/c-e copy 2.png" alt="" class="w-32" />
            </a>
            <a href="" class="text-[0.8rem] md:text-[0.9rem] text-white bg-green-600 p-1 rounded-md border-2 border-green-600">رویدادهای من </a>
        </section>
        <!--end logo section-->
        <!--start notif-->
        <section
            class="text-[0.9rem] md:text-[1rem] border-t border-b border-dashed text-gray-400 border-green-600 h-[10vh] w-full flex items-center justify-center azar-bold">
            سایت درحال بروزرسانی است لطفا صبور باشید
        </section>
        <!--end notif-->
        <!--start event section-->
        <section class="bg-gray-50">
            <div class="mx-auto md:px-8 text-[1.5rem] text-gray-500 py-6">
                <h2 class="text-center md:text-right azar-bold px-8">جدیدترین رویداد ها</h2>
                <!--first row-->
                <div class="events md:px-16 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-y-6 my-4">
                    <div class="box shadow-lg w-[85%] p-1 rounded-lg mx-auto">
                        <a href="">
                            <img src="https://static.eseminar.tv/public/upload/webinar/thumb/1708766247_54.jpg" alt="" class="w-[18rem] block mx-auto" />
                        </a>
                        <h3 class="text-[1.2rem] my-2 px-2">وبینار خود شفاهی</h3>
                        <span class="block text-[0.8rem] my-2 px-2">رضا مردانی</span>
                        <p class="text-[0.9rem] my-4 px-2">شما در این کارگاه می آموزید که چطور باید با بهترین روش ممکن در یک شرکت کار پیدا کنید</p>
                        <div class="flex justify-between items-center p-2 border-t border-gray-600">
                            <a
                                href=""
                                class="text-[1rem] text-green-600 border-2 border-green-600 rounded-lg p-1 hover:text-white hover:bg-green-600 hover:border-transparent transition-all duration-300"
                                >شرکت در رویداد</a
                            >
                            <span class="text-[1rem] text-green-600">رایگان</span>
                        </div>
                    </div>
                    <div class="box shadow-lg w-[85%] p-1 rounded-lg mx-auto">
                        <img src="https://static.eseminar.tv/public/upload/webinar/thumb/1708766247_54.jpg" alt="" class="w-[18rem] block mx-auto" />
                        <h3 class="text-[1.2rem] my-2 px-2">وبینار خود شفاهی</h3>
                        <span class="block text-[0.8rem] my-2 px-2">رضا مردانی</span>
                        <p class="text-[0.9rem] my-4 px-2">شما در این کارگاه می آموزید که چطور باید با بهترین روش ممکن در یک شرکت کار پیدا کنید</p>
                        <div class="flex justify-between items-center p-2 border-t border-gray-600">
                            <a
                                href=""
                                class="text-[1rem] text-green-600 border-2 border-green-600 rounded-lg p-1 hover:text-white hover:bg-green-600 hover:border-transparent transition-all duration-300"
                                >شرکت در رویداد</a
                            >
                            <span class="text-[1rem] text-green-600">رایگان</span>
                        </div>
                    </div>
                    <div class="box shadow-lg w-[85%] p-1 rounded-lg mx-auto">
                        <img src="https://static.eseminar.tv/public/upload/webinar/thumb/1708766247_54.jpg" alt="" class="w-[18rem] block mx-auto" />
                        <h3 class="text-[1.2rem] my-2 px-2">وبینار خود شفاهی</h3>
                        <span class="block text-[0.8rem] my-2 px-2">رضا مردانی</span>
                        <p class="text-[0.9rem] my-4 px-2">شما در این کارگاه می آموزید که چطور باید با بهترین روش ممکن در یک شرکت کار پیدا کنید</p>
                        <div class="flex justify-between items-center p-2 border-t border-gray-600">
                            <a
                                href=""
                                class="text-[1rem] text-green-600 border-2 border-green-600 rounded-lg p-1 hover:text-white hover:bg-green-600 hover:border-transparent transition-all duration-300"
                                >شرکت در رویداد</a
                            >
                            <span class="text-[1rem] text-green-600">رایگان</span>
                        </div>
                    </div>
                    <div class="box shadow-lg w-[85%] p-1 rounded-lg mx-auto">
                        <img src="https://static.eseminar.tv/public/upload/webinar/thumb/1708766247_54.jpg" alt="" class="w-[18rem] block mx-auto" />
                        <h3 class="text-[1.2rem] my-2 px-2">وبینار خود شفاهی</h3>
                        <span class="block text-[0.8rem] my-2 px-2">رضا مردانی</span>
                        <p class="text-[0.9rem] my-4 px-2">شما در این کارگاه می آموزید که چطور باید با بهترین روش ممکن در یک شرکت کار پیدا کنید</p>
                        <div class="flex justify-between items-center p-2 border-t border-gray-600">
                            <a
                                href=""
                                class="text-[1rem] text-green-600 border-2 border-green-600 rounded-lg p-1 hover:text-white hover:bg-green-600 hover:border-transparent transition-all duration-300"
                                >شرکت در رویداد</a
                            >
                            <span class="text-[1rem] text-green-600">رایگان</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--end first row-->
            <div class="mx-auto md:px-8 text-[1.5rem] text-gray-500 py-6">
                <h2 class="text-center md:text-right azar-bold px-8">رویدادهای اتمام یافته</h2>
                <!--seconde row-->
                <div class="events md:px-16 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-y-6 my-4">
                    <div class="box shadow-lg w-[85%] p-1 rounded-lg mx-auto">
                        <img src="https://static.eseminar.tv/public/upload/webinar/thumb/1708766247_54.jpg" alt="" class="w-[18rem] block mx-auto" />
                        <h3 class="text-[1.2rem] my-2 px-2">وبینار خود شفاهی</h3>
                        <span class="block text-[0.8rem] my-2 px-2">رضا مردانی</span>
                        <p class="text-[0.9rem] my-4 px-2">شما در این کارگاه می آموزید که چطور باید با بهترین روش ممکن در یک شرکت کار پیدا کنید</p>
                        <div class="flex justify-between items-center p-2 border-t border-gray-600">
                            <a
                                href=""
                                class="text-[1rem] text-green-600 border-2 border-green-600 rounded-lg p-1 hover:text-white hover:bg-green-600 hover:border-transparent transition-all duration-300"
                                >شرکت در رویداد</a
                            >
                            <span class="text-[1rem] text-green-600">رایگان</span>
                        </div>
                    </div>
                    <div class="box shadow-lg w-[85%] p-1 rounded-lg mx-auto">
                        <img src="https://static.eseminar.tv/public/upload/webinar/thumb/1708766247_54.jpg" alt="" class="w-[18rem] block mx-auto" />
                        <h3 class="text-[1.2rem] my-2 px-2">وبینار خود شفاهی</h3>
                        <span class="block text-[0.8rem] my-2 px-2">رضا مردانی</span>
                        <p class="text-[0.9rem] my-4 px-2">شما در این کارگاه می آموزید که چطور باید با بهترین روش ممکن در یک شرکت کار پیدا کنید</p>
                        <div class="flex justify-between items-center p-2 border-t border-gray-600">
                            <a
                                href=""
                                class="text-[1rem] text-green-600 border-2 border-green-600 rounded-lg p-1 hover:text-white hover:bg-green-600 hover:border-transparent transition-all duration-300"
                                >شرکت در رویداد</a
                            >
                            <span class="text-[1rem] text-green-600">رایگان</span>
                        </div>
                    </div>
                    <div class="box shadow-lg w-[85%] p-1 rounded-lg mx-auto">
                        <img src="https://static.eseminar.tv/public/upload/webinar/thumb/1708766247_54.jpg" alt="" class="w-[18rem] block mx-auto" />
                        <h3 class="text-[1.2rem] my-2 px-2">وبینار خود شفاهی</h3>
                        <span class="block text-[0.8rem] my-2 px-2">رضا مردانی</span>
                        <p class="text-[0.9rem] my-4 px-2">شما در این کارگاه می آموزید که چطور باید با بهترین روش ممکن در یک شرکت کار پیدا کنید</p>
                        <div class="flex justify-between items-center p-2 border-t border-gray-600">
                            <a
                                href=""
                                class="text-[1rem] text-green-600 border-2 border-green-600 rounded-lg p-1 hover:text-white hover:bg-green-600 hover:border-transparent transition-all duration-300"
                                >شرکت در رویداد</a
                            >
                            <span class="text-[1rem] text-green-600">رایگان</span>
                        </div>
                    </div>
                    <div class="box shadow-lg w-[85%] p-1 rounded-lg mx-auto">
                        <img src="https://static.eseminar.tv/public/upload/webinar/thumb/1708766247_54.jpg" alt="" class="w-[18rem] block mx-auto" />
                        <h3 class="text-[1.2rem] my-2 px-2">وبینار خود شفاهی</h3>
                        <span class="block text-[0.8rem] my-2 px-2">رضا مردانی</span>
                        <p class="text-[0.9rem] my-4 px-2">شما در این کارگاه می آموزید که چطور باید با بهترین روش ممکن در یک شرکت کار پیدا کنید</p>
                        <div class="flex justify-between items-center p-2 border-t border-gray-600">
                            <a
                                href=""
                                class="text-[1rem] text-green-600 border-2 border-green-600 rounded-lg p-1 hover:text-white hover:bg-green-600 hover:border-transparent transition-all duration-300"
                                >شرکت در رویداد</a
                            >
                            <span class="text-[1rem] text-green-600">رایگان</span>
                        </div>
                    </div>
                </div>
                <!--end second row-->
            </div>
        </section>
        <!--end event section-->
        <!--start footer-->
        <footer class="bg-[#303043] py-2 px-8">
            <div class="py-6 md:flex gap-x-8">
                <div>
                    <h2 class="text-green-600 azar-bold text-[1.2rem] md:text-[1.5rem]">درباره رویدادنگار</h2>
                <p class="text-white text-[0.8rem] md:text-[0.9rem] w-full md:w-1/2 text-justify my-2">
                    رویدادنگار اولین و بزرگترین بستر تخصصی مدیریت، فروش و برگزاری وبینار (سمینار و کلاس) و رویداد آنلاینه که در اون هم می‌تونید وبینار برگزار کنین و هم وبینار شرکت کنین!
                </p>
                </div>
                <div class="my-6">
                    <h3 class="my-2 text-green-600 text-[1rem] md:text-[1.2rem]">راه های ارتباطی</h3>
                    <ul class="text-[0.8rem] md:text-[1rem] flex flex-col gap-y-2 text-white">
                        <a href=""><li>گزارش باگ</li></a>
                        <a href=""><li>درباره ما</li></a>
                        <a href=""><li>تماس با ما</li></a>
                    </ul>
                </div>
                <div class="my-6">
                    <h3 class="my-2 text-green-600 text-[1rem] md:text-[1.2rem]">لینک های مفید</h3>
                    <ul class="text-[0.8rem] md:text-[1rem] flex flex-col gap-y-2 text-white">
                        <a href=""><li>قوانین</li></a>
                        <a href=""> <li>سوالات متداول</li></a>
                        <a href=""> <li>انجمن ها</li></a>
                    </ul>
                </div>
            </div>
            <p class="text-white text-center my-4 text-[0.8rem]">تمامی حقوق متعلق به گروه کامپیوتر دانشگاه فسا میباشد</ح>
            <div class="flex justify-center gap-x-4 my-2 mt-4">
                <i class="fab fa-telegram text-gray-400 text-[1.5rem]"></i>
                <i class="fab fa-instagram text-gray-400 text-[1.5rem]"></i>
                <i class="fab fa-youtube text-gray-400 text-[1.5rem]"></i>
                <i class="fab fa-github text-gray-400 text-[1.5rem]"></i>
            </div>
        </footer>
        <!--end footer-->
    </body>
</html>
