<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
    {% include 'partial/header_links.html' %}
</head>
<body class="azar relative bg-gray-50">
<header class="bg-emerald-600 p-6 flex md:justify-between justify-center">
    <ul class="text-white flex gap-x-6 text-[0.9rem]">
       <a href="{% url 'manage:events' %}"><li>دوره ها</li></a>
        <li>کاربران</li>
        <li>کد تخفیف ها</li>
    </ul>
    <h1 class="text-white azar-bold hidden md:block">پنل مدیریت</h1>
</header>
{% block content %}{% endblock %}
</body>
</html>