<footer class="bg-[#303043] py-2 px-8">
    <div class="py-6 md: gap-x-8 justify-between">
        <div class="">
            <h2 class="text-green-600 azar-bold text-[1.2rem] md:text-[1.5rem]">درباره رویدادنگار</h2>
            <p class="text-white text-[0.8rem] md:text-[0.9rem] w-full md:w-1/2 text-justify my-2">
                رویدادنگار اولین و بزرگترین بستر تخصصی مدیریت، فروش و برگزاری وبینار (سمینار و کلاس) و رویداد آنلاینه که
                در اون هم می‌تونید وبینار برگزار کنین و هم وبینار شرکت کنین!
            </p>
        </div>
        <div class="md:flex gap-x-10">
            <div class="my-6">
                <h3 class="my-2 text-green-600 text-[1rem] md:text-[1.1rem]">راه های ارتباطی</h3>
                <ul class="text-[0.8rem] md:text-[0.9rem] flex flex-col gap-y-2 text-white">
                    <a href="">
                        <li>گزارش باگ</li>
                    </a>
                    <a href="">
                        <li>درباره ما</li>
                    </a>
                    <a href="">
                        <li>تماس با ما</li>
                    </a>
                </ul>
            </div>
            <div class="my-6">
                <h3 class="my-2 text-green-600 text-[1rem] md:text-[1.1]">لینک های مفید</h3>
                <ul class="text-[0.8rem] md:text-[0.9rem] flex flex-col gap-y-2 text-white">
                    <a href="">
                        <li>قوانین</li>
                    </a>
                    <a href="">
                        <li>سوالات متداول</li>
                    </a>
                    <a href="">
                        <li>انجمن ها</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
    <p class="text-white text-center my-4 text-[0.8rem]">تمامی حقوق متعلق به گروه کامپیوتر دانشگاه فسا میباشد</ح>
    <div class="flex justify-center gap-x-4 my-2 mt-4">
        <i class="fab fa-telegram text-gray-400 text-[1.5rem]"></i>
        <i class="fab fa-instagram text-gray-400 text-[1.5rem]"></i>
        <i class="fab fa-youtube text-gray-400 text-[1.5rem]"></i>
        <i class="fab fa-github text-gray-400 text-[1.5rem]"></i>
    </div>
</footer>